.nav-wrapper {
  height: 80px;
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  @media only screen and (max-width: 650px) {
    justify-content: flex-end;
  }
  .side-wrapper {
    display: flex;
    font-size: 30px;
    color: $text-color;
    align-items: center;
    .nav-icon-wrapper {
      padding: 15px;
      font-size: 5rem;
    }
    .nav-text-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 650px) {
      visibility: hidden;
    }
  }
  .center-wrapper {
    display: flex;
    justify-content: space-between;
    .nav-link-wrapper {
      height: 22px;
      margin: auto 22px;
      text-transform: uppercase;
      font-size: 2.2rem;
      @media only screen and (max-width: 650px) {
        margin: auto 10px;
        font-size: 1.8rem;
      }
      a {
        transition: 0.5s ease-in-out;
        border-bottom: 1px solid transparent;
        color: $text-color;
        text-decoration: none;
        &:hover {
          color: $active-text-color;
          //border-bottom: 1px solid $active-text-color;
        }
      }

      &:hover {
        color: $active-text-color;
      }
      .nav-link-active {
        border-bottom: 1px solid $active-text-color;
        color: $active-text-color;
      }
    }
  }
}
